body{
    
    background-color: rgb(204, 235, 236);
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    /* padding-top:25px;     */
    }
#data-table{

    background-color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: left;
    padding:25px;
    margin-top:50px;
    margin-bottom:90px;
    margin-left:20px;
    margin-right:20px;

}
.table {
    max-width: none;
    table-layout: fixed;
    word-wrap: break-word;
} 
.form-group{
    margin-top:25px;
    margin-left:18px;
}
.pagination a {

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}